h1 {
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.contenedor {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

}

.todo-list {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
    margin: auto;
}

label {
    margin-bottom: 1.5rem;
}

input {
    margin-bottom: 1.5rem;
    border-radius: 12px;
    /* height: 1.4rem; */
    border: 1px solid black;
    padding: .8rem;
    text-align: center;
}

.btn {
    border-radius: 12px;
    border: none;
    padding: .8rem;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(58, 206, 70);
    cursor: pointer;
}

.error {
    background-color: rgba(250, 40, 40, 0.945);
    padding: 1rem;
    text-align: center;
    width: 80%;
    margin: auto;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    margin-top: 1rem;
}

body {
    background: radial-gradient(ellipse at 50% 50%, #008bff, #524d4e);
    color: white;
    background-repeat: no-repeat;
    height: 100vh;
}

#lista-tareas {
    text-transform: none;
    width: 50%;
    margin: auto;
}

.btnBorrar {
    float: right;
    background-color: red;
    width: 4%;
    border-radius: 10px;
    cursor: pointer;
}

li {
    margin-bottom: 8px;
    text-align: left;
}

.exito {
    background-color: rgba(75, 250, 40, 0.945);
    padding: .75rem;
    text-align: center;
    width: 25%;
    float: right;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    margin: 0;
}